* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header_container {
  width: 100%;
  height: 120px;
  background-color: rgb(20, 5, 75);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Title_container {
  padding-left: 14%;
  color: white;
}

.Logo_container {
  padding-right: 14%;
  color: white;
}

@media (max-width: 500px) {
  .Title_container {
    padding-left: 5%;
  }

  .Logo_container {
    padding: 5%;
  }
}
